---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../FormattedDate.astro";

interface Props {
	content: CollectionEntry<"post">;
}

const {
	content: { data },
} = Astro.props;

const dateTimeOptions: Intl.DateTimeFormatOptions = {
	month: "long",
};
---

{
	data.coverImage && (
		<div class="">
			<Image
				alt={data.coverImage.alt}
				class=""
				fetchpriority="high"
				loading="eager"
				src={data.coverImage.src}
			/>
		</div>
	)
}
{data.draft ? <span class="">(Draft)</span> : null}
<h1 class="">
	{data.title}
</h1>
<div class="">
	<p class="">
		<FormattedDate date={data.publishDate} dateTimeOptions={dateTimeOptions} />
	</p>
</div>
